{% extends "account/form_base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block forms %}
<h1>Creators Signup</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'creators_signup' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-fill btn-wide">Sign Up</button>
</form>
    <a class="btn btn-wide btn-outline btn-fill" href="https://api.instagram.com/oauth/authorize/?client_id=1234&redirect_uri=http://127.0.0.1:8000/creators/signup/&response_type=code">
    Log in though Instagram
    </a>

{% endblock %}
