{% extends "base.html" %}

{% block content %}
<h1> creator index </h1>
<a href="{% url 'profile_edit' pk=request.user.id %}">edit profile</a>
<a href="{% url 'platform_create' %}">add social platform</a>
{% for platform in platforms %}
<p>{{ platform.name }}</p>
<p>{{ platform.platform }}</p>
<p>{{ platform.account_name }}</p>
<p>{{ platform.url }}</p>
<p>{{ platform.metrics }}</p>
<a href="{% url 'platform_update' pk=platform.id%}">edit this profile</a>
<a href="{% url 'platform_delete' pk=platform.id%}">delete this profile</a>
{% endfor %}
{% endblock content %}
