{% extends "list_base.html" %}

{% block list %}
<h2>Campaign: {{ campaign.name }}</h2>
<img class="rounded float-right" alt="{{ campaign.name }}" src="{{ campaign.image.url }}">
<h4>Brand: {{ campaign.brand.name }}</h4>
<small class="text-muted">Posted on: {{ campaign.posted }}</small>

<p>Goals:</p>
<p>{{ campaign.goals }}</p>
<p>Target Audience:</p>
<p>{{ campaign.target_audience }}</p>
<p>Detailed Description: </p>
<p>{{ campaign.detailed_description }}</p>
<p>Budget: {{ campaign.budget }}</p>
<p>Submission deadline: {{ campaign.submission_deadline }}</p>

<a href="{% url  'quote_create' pk=campaign.id %}" class="btn btn-outline">Submit a Quote</a>

{% endblock list %}