{% extends "user_base.html" %}

{% block main %}
<h1>Campaigns</h1>
{% for campaign in object_list %}
    {% if campaign.image %}
    <div class="post-container">
      <div class="post-header">
        <div class="post-cover" style="
                background: url({{ campaign.image.url }}) no-repeat center;
                background-size: cover;
                border-radius: 5px 5px 0 0;
                height: 15rem;
                box-shadow: inset hsla(0, 0%, 0%, 0.2) 0 64px 64px 16px;">
          <div class="post-author">
              {% if campaign.brand.image %}
                <img src="{{ campaign.brand.image.url }}" alt="{{ brand.name }}">
              {% else %}
                <div></div>
            {% endif %}
            <h3>{{ campaign.brand.name }}</h3>
          </div>
        </div>
      </div>

      <div class="post-body">
        <div class="post-title">
          <h1><a href="{% url 'campaigns_detail' pk=campaign.id %}">{{ campaign.name }}</a></h1>
        </div>
        <div class="post-details">
          <p>{{ campaign.detailed_description }}</p>
        </div>
    {#    <div class="blog-tags">#}
    {#      <ul>#}
    {#        <li><a href="#">css</a></li>#}
    {#        <li><a href="#">web design</a></li>#}
    {#        <li><a href="#">codepen</a></li>#}
    {#        <li><a href="https://twitter.com/russbeye">twitter</a></li>#}
    {#      </ul>#}
    {#    </div>#}
      </div>

      <div class="post-footer">
        <ul>
          <li class="published-date">{{ campaign.posted|date:'Y-m-d' }}</li>
          <li class="more-details"><a href="{% url 'campaigns_detail' pk=campaign.id %}"><span>More details</span></a></li>
    {#      <li class="shares">Budget: <span class="numero">{{ campaign.budget }}</span></li>#}
        </ul>
      </div>
    </div>
        {% else %}
        <div class="post-container">
      <div class="post-header">
        <div class="post-author--no-cover">
            {% if campaign.brand.image %}
                <img src="{{ campaign.brand.image.url }}" alt="{{ brand.name }}">
            {% else %}
                <div></div>
            {% endif %}
            <h3>{{ campaign.brand.name }}</h3>
        </div>
      </div>

      <div class="post-body">
        <div class="post-title">
          <h1><a href="{% url 'campaigns_detail' pk=campaign.id %}">{{ campaign.name }}</a></h1>
        </div>
        <div class="post-details">
          <p>{{ campaign.detailed_description }}</p>
        </div>
      </div>

      <div class="post-footer">
        <ul>
          <li class="published-date">{{ campaign.posted|date:'Y-m-d' }}</li>
          <li class="more-details"><a href="{% url 'campaigns_detail' pk=campaign.id %}"><span>More details</span></a></li>
        </ul>
      </div>

    </div>
{% endif %}
{% endfor %}
{% endblock main %}