{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

    <!-- HEADER -->
    <header>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-md visitor-nav">
            <a class="navbar-brand" href="/">Social Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                Menu &#8801;
            </button>

            <div class="navbar-collapse collapse" id="collapsingNavbar">
                <div class="navbar-nav ml-auto">
                    <a href="" class="nav-item nav-link small">About</a>
                    <a href="" class="nav-item nav-link small">Pricing</a>
                    <a href="" class="nav-item nav-link small">Testimonials</a>
{#                    btn btn-outline#}
                    <a href="#signupModal" class="nav-item nav-link small text-uppercase" data-toggle="modal">Create Account</a>
                    <a href="{% url 'account_login' %}" class="nav-item nav-link small text-uppercase">Login</a>
                </div>
            </div>
        </nav>

        <!-- Header Text -->
        <div id="header-text">
            <h1>Social Manager</h1>
            <p>Digital Marketing Made Easier </p>
        </div>

    </header>

    <div id="main-preview" class="card w-75 center-block">
        <div class="card-header">
            <h4>Offers from brands</h4>
        </div>
        <div id="list" class="card-body">
            {% for campaign in campaigns %}
                <div id="item">
                    <div id="item-header" class="d-flex w-100 justify-content-between card-title">
                        <h3 class="mb-1">{{ campaign.name }}</h3>
                        <small class="date">{{ campaign.posted }}</small>
                    </div>
                    <div id="item-content" class="card-text">
                        <span><span class="text-muted">Brand:</span> <b>{{ campaign.brand.name }}</b></span>
                        <span><span class="text-muted">Campaign Name:</span><b>{{ campaign.name }}</b></span>
                        <p><span class="text-muted">Submission Deadline:</span>{{ campaign.submission_deadline }}</p>
                        <p class="mb-1">{{ campaign.detailed_description }}</p>
                        <a href="{% url 'campaigns_detail' pk=campaign.id %}" class="btn btn-fill">Campaign Details</a>
                    </div>
                </div>
            {% empty %}
                No Campaigns yet
            {% endfor %}
        </div>
        <a href="{% url 'campaigns_list' %}" class="btn btn-outline">Show more...</a>
    </div>


     <!-- ABOUT SECTION-->
    <section id="about">

        <div class="section-header">
            <h1>How it Works</h1>
            <p>Manage your digital marketing campaigns from one place, and connect with social media content
                creators.</p>
        </div>

        <div class="card">

            <div class="row">
                <div class="col-6">

                    <h5 style="color: #0FB8AD">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                        </span>
                        Brand Managers
                    </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>

                    <h5 style="color: #1fc8db;">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                        </span>
                        Brands
                    </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>

                    <h5 style="color: #FFbB46">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                        </span>
                        Campaigns
                    </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>

                </div>
                <div class="col-6">

                   <h5 style="color: #1fc8db;">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                        </span>
                        Creators</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>

                    <h5 style="color: #BB69D7">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                        </span>
                        Social Profiles</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>

                    <h5 style="color: #EF2D56">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                        </span>
                        Quotes</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>

                </div>
            </div>
        </div>

    </section>


  <!-- SIGNUP MODAL -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-center text-uppercase">Type of Account</h3>
                    <button type="button" class="btn btn-outline" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                        <div class="col-md-12 text-center">
                            <a href="{% url 'creators_signup' %}" class="btn btn-wide btn-fill btn-group">Creator</a>
                            <a href="{% url 'managers_signup' %}" class="btn btn-wide btn-fill btn-group">Brand Manager</a>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <nav>
            <a href="" class="nav-item">FAQ</a>
            <a href="" class="nav-item">Privacy Policy</a>
            <a href="" class="nav-item">Terms & Conditions</a>
        </nav>
        <hr>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>

    <p> 2018 Social Manager All Rights Reserved </p>
    </footer>



    <script src="{% static  'js/jquery-min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


{% endblock content %}}
