body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 100vh;
    color: #444444;
}
.gradient-txt{
    color: white;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
    border-radius: 300px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px;
}
.btn-fill{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
}
.btn-outline{
    background: #ffffff;
    color: #1FC8DB;
}
.btn-wide{
    padding-left: 50px;
    padding-right: 50px;
}
/*img {*/
    /*width: 100px!important;*/
/*}*/
/* ==========================================================================
    VISITOR INDEX
   ========================================================================== */
#header-visitor {
    width: 100%;
    height: auto;
    color: #ffffff;
    text-align: center;
}
#navbar-vistior {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.visitor-nav a{
    color: #ffffff;
    padding: 10px;
}

section, footer{
    width: 100%;
    padding: 30px 30px;
}
.navbar-brand, .navbar-toggler{
    color: #ffffff;
}
.navbar-toggler{
    border: 2px solid #ffffff;
}
#main-preview {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}
#header-text{
    color: #ffffff;
    padding-bottom: 15vh;
    padding-top: 15vh;
}
#header-text h1 {
    font-size: 2.8rem;
}
#about img{
    width: 20%;
}
#about .card{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}
.section-header {
  text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-title {
    text-align: center;
    font-size: 2rem;
    color: #0e90d2;
}

.section-header p {
    text-transform: uppercase;
    font-family: 'Rubik', Arial;
    font-size: 30px;
    line-height: 1.80em;
    letter-spacing: 4.7px;
    margin-bottom: 10px;
    word-wrap: initial;
}

/* Modal*/
.modal-block{
    width: 80vw;
    background-color: #ffffff;
    margin: 100px auto;
}
.modal-header{
    color: #ffffff;
    background: linear-gradient(141deg, #00ddab 0%, #1fc8db 51%, #1fc8db 75%);
    text-align: center;
}
.modal-body{
    margin: auto;
}
/* ==========================================================================
    PRICING TEMPLATE
   ========================================================================== */

.card-header {
    background-color: transparent!important;
}

#pricingCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
#pricingCards > div.card {
    /*list-style: none;*/
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  background: #2fc8d9;
  position: relative;
  width: 250px; /* width of each table */
  margin-right: 40px; /* spacing between tables */
  margin-bottom: 1em;
    margin-top: 20px;
  transition: all .5s;
}
#pricingCards > div.card:hover {
    transform: scale(1.05);
    transition: all .5s;
    z-index: 100;
    box-shadow: 0 0 10px gray;
}
/* ==========================================================================
    MANAGER DASHBOARD
   ========================================================================== */
#background-color {
    background-color: rgba(47,200,217,1);
    position: absolute;
    top: 0;
    height: 60%;
    width: 100%;
    z-index: -1;
}

#header-manager a {
    font-weight: bold;
    color: rgba(255,255,255,0.5);
}
.navbar-brand {
    color: rgba(255,255,255,1) !important;
    font-size: x-large;
}

#header-manager .active a {
    color: rgba(255,255,255,1);
}


#search-manager {
    border: none;

    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(255,255,255,1);
}

#notification_bell i {
    float: right;
    color: rgba(255,255,255,1);
    font-size: x-large;
}
.user_thumbnail {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: 10px;
    font-size: xx-large;
}

.sidebar-navigation {
    display: inline-block;
    position: relative;
    left: 50px;
    width: 150px;
    height: auto;
    margin: 50px;
    margin-left: 0;
    padding: 10px;
    background: white;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.sidebar-navigation .active {
    color: white;
    background: rgba(47,200,217,1);
}
.sidebar-option {
    background: white;
    border-radius: 20%;
    margin: auto;
    margin-top: 10px;
    width: 110px;
    height: 110px;
    text-align: center;
    padding-top: 25px;
}
.sidebar-navigation div:first-child {
    margin-top: 5px;
}
.sidebar-option:hover{
    color: white;
    background: rgba(47,200,217,1);
}
.sidebar-option i {
    display: block;
    font-size: 2rem;
}

.support_content {
    margin: 20px;
    display: inline-block;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    width: 80%;
}

/* ==========================================================================
    MANAGER_STATISTICS
   ========================================================================== */

.statistics-boxes {
    width: auto;
    height: auto;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
.statistic-box {
    display: inline-block;
    background: rgb(32, 144, 157);
    border-radius: 20px;
    height: 130px;
    width: 30%;
    margin-right: 20px;
    position: relative;
    padding: 30px;
}
.statistic-box div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.statistic-box .statistic-text {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-size: small;
    color: rgba(255, 255, 255, 0.5);
}

.numbers {
    font-size: xx-large;
    font-weight: lighter;
}

.profile {
    max-width: 100%;
    height: 100px;
    background: white;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 40px;
    display: flex;
    padding: 20px;
    position: relative;
}
.profile .name {
    font-size: xx-large;
    font-weight: 800;
    color: black;
    display: block;
}
.profile .buttons {
    position: absolute;
    right: 0;
    padding-right: 20px;
}

.social-statistics {
    width: auto;
    height: auto;
    color: black;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.social-box {
    display: inline-flex;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    height: 250px;
    width: 30%;
    margin-right: 20px;
    position: relative;
    padding: 30px;
    align-items: center;
    justify-content: center;
}
.social-box .statistic-text {
    position: absolute;
    top: 70%;
}



/* ==========================================================================
    USER BASE TEMPLATE
   ========================================================================== */

.top-nav{
    -webkit-box-shadow:0px 1px 5px #888888;
    -moz-box-shadow:0px 1px 5px #888888;
    box-shadow:0px 1px 5px #888888;
}
.top-nav .brand{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.side-nav{
    background: linear-gradient(141deg, #00ddab 0%, #1fc8db 51%, #1fc8db 75%);

    height: 100%;
    width: 100%;
    text-align: center;
}
.side-nav a{
    color: #ffffff;
}

.form-col {
    width:100%;
}
.form-col form{
    margin: 20px;
}
.form-col .btn{
    width: 200px;
}
.form-left{
    background-color: #1fc8db;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}
.alert{
    z-index: 3;
}
p {
  font-size: 14px;
  line-height: 26px;
}

.section {
  padding: 80px 0;
}
.section-header .section-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  position: relative;
}

.section-header .section-title span {
  color: purple;
}

.section-header .section-subtitle {
  margin-top: 15px;
  color: purple;
  font-size: 14px;
  font-weight: 400;
}

.section-header .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 2px solid yellow;
  margin-top: 15px;
}

/* =====================================================
     Footer
   ===================================================== */
footer{
    text-align: center;
    background-color: #efefef;
}
footer hr{
    width: 80%;
}
footer a{
  color: #999999;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
footer a:hover {
  color: #61D2B4;
}
.head{
  height: 800px;
  padding-top: 100px;
  -webkit-clip-path: polygon(0 1%, 100% 0%, 91% 86%, 0% 100%);
clip-path: polygon(0 1%, 100% 0%, 91% 86%, 0% 100%);
}
#rad{
  border-radius: 100%;
  border-style: solid;
  border-color: red;
  border-width: thin;
}
#cen{
  background-color: white;
  color: black;
  border: 2px;
  border-radius: 20px;


}




