{% extends "managers/base.html" %}
{% load fontawesome %}

{% block main_content %}
    <main>
        {# Sidebar #}
        <div class="sidebar-navigation">
            <div class="sidebar-option active">
                <div class="title-box">
                    <i class="fa fa-balance-scale"></i>
                    <span class="sidebar-title">Dashboard</span>
                </div>
            </div>
            <div class="sidebar-option">
                <div class="title-box">
                    <i class="fa fa-id-badge"></i>
                    <span class="sidebar-title">Influence</span>
                </div>
            </div>
            <div class="sidebar-option">
                <div class="title-box">
                    <i class="fa fa-user-circle"></i>
                    <span class="sidebar-title">Profiles</span>
                </div>
            </div>
            <div class="sidebar-option">
                <div class="title-box">
                    <i class="fa fa-tags"></i>
                    <span class="sidebar-title">Tags & posts</span>
                </div>
            </div>
            <div class="sidebar-option">
                <div class="title-box">
                    <i class="fa fa-briefcase"></i>
                    <span class="sidebar-title">Monetization</span>
                </div>
            </div>
            <div class="sidebar-option">
                <div class="title-box">
                    <i class="fa fa-comments"></i>
                    <span class="sidebar-title">Messaging</span>
                </div>
            </div>
            <div class="sidebar-option">
                <div class="title-box">
                    <i class="fa fa-cogs"></i>
                    <span class="sidebar-title">Settings</span>
                </div>
            </div>
        </div>
        {# Support content #}
        <div class="support_content container">
            <div class="statistics-boxes row">
                <div class="statistic-box col-sm">
                    <div class="numbers">100000</div>
                    <span class="statistic-text">Total followers</span>
                </div>
                <div class="statistic-box col-sm">
                    <div class="numbers">90%</div>
                    <span class="statistic-text">Engagement ratio</span>
                </div>
                <div class="statistic-box col-sm">
                    <div class="numbers">5.6</div>
                    <span class="statistic-text">Total content watch hours</span>
                </div>
            </div>
            <div class="profile row">
                <div class="name">{{ user.first_name }} {{ user.last_name }}</div>
                <div class="buttons">
                    <button class="btn btn-fill btn-wide">Save profile</button>
                    <button class="btn btn-fill btn-wide">Contact details</button>
                    <button class="btn btn-outline"><i class="fa fa-ellipsis-v"></i></button>
                </div>
            </div>
            <div class="social-statistics row">
                <div class="social-box col-sm">
                    <div class="numbers">100000</div>
                    <span class="statistic-text">YouTube</span>
                </div>
                <div class="social-box col-sm">
                    <div class="numbers">1000</div>
                    <span class="statistic-text">Instagram</span>
                </div>
                <div class="social-box col-sm">
                    <div class="numbers">12345</div>
                    <span class="statistic-text">Facebook</span>
                </div>
            </div>
            <div class="more-statistics"></div>
        </div>
    </main>
{% endblock main_content %}
