<!DOCTYPE html>

{% load bootstrap4 %}
{% load fontawesome %}
{% load static %}
{% load compile_static %}



<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">


    <title>{% block head_title %}{% endblock %}</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    <!-- STYLESHEETS -->
    {% block styles %}
        {% bootstrap_css %}
        {% fontawesome_stylesheet %}
        {% bootstrap_javascript jquery='full' %}
        <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static "css/posts.scss"|compile %}" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    {% endblock styles %}


    {% block extra_head %}
    {% endblock %}
</head>

<body>


{% block body %}

    {% bootstrap_messages %}

    <div class="content-block">
        {% block content %}
        {% endblock content%}
    </div>

{% endblock body%}


{% block extra_body %}
{% endblock %}


</body>
</html>
