<!DOCTYPE html>

{% load bootstrap4 %}
{% load static %}



<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">


    <title>{% block head_title %}{% endblock %}</title>

    <!-- STYLESHEETS -->
    {% block styles %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    {% endblock styles %}


    {% block extra_head %}
    {% endblock %}
</head>

<body>
{% block body %}

{% bootstrap_messages %}

    <div class="content-row row">

    {% block content %}
    {% endblock content%}


    {% endblock body%}


    {% block extra_body %}
    {% endblock %}
    </div>


</body>
</html>
