<!DOCTYPE html>

{% load bootstrap4 %}
{% load static %}


<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">


    <title>{% block head_title %}{% endblock %}</title>

    <!-- STYLESHEETS -->
    {% block styles %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    {% endblock styles %}


    {% block extra_head %}
    {% endblock %}
</head>

<body>
{% block body %}

{% bootstrap_messages %}

<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand fill-txt" href="/">Social Reach</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNav"
            aria-controls="menuNav" aria-expanded="false">
        <span class="btn btn-fill">&#8801; Menu</span>
    </button>

    <div class="collapse navbar-collapse" id="menuNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'campaigns_list' %}">Campaigns</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link " href="{% url 'account_email' %}">Edit Account</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Log Out</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Log Out</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Log In</a></li>
            {% endif %}
        </ul>
    </div>

</nav>

<div class="container-fluid">
    <div class="content-row row">

    {% block content %}
    {% endblock content%}


    {% endblock body%}


    {% block extra_body %}
    {% endblock %}
    </div>
</div>



</body>
</html>
