<nav class="side-nav">
    <a href="/">Social Reach</a>
    <a class="nav-item nav-link " href="{% url 'account_email' %}"
       data-toggle="tooltip" data-placement="right" title="Profile">
        <i class="fa fa-user fa-3x" ></i>
    </a>
    <a class="nav-item nav-link" href="{% url 'campaigns_list' %}"
       data-toggle="tooltip" data-placement="right" title="Campaigns">
        <i class="fa fa-bullhorn fa-3x"></i>
    </a>
    <a class="nav-item nav-link" href="{% url 'account_logout' %}"
       data-toggle="tooltip" data-placement="right" title="Logout">
        <i class="fa fa-sign-out fa-3x"></i>
    </a>
    <a class="nav-item nav-link" href="{% url 'messages_inbox' %}"
       data-toggle="tooltip" data-placement="right" title="Messages">
        <i class="fa fa-envelope fa-3x"></i>
    </a>

</nav>