{% extends "base.html" %}

{% load i18n %}

{% block content %}

<nav class="navbar-dark col-md-2">
    <a class="navbar-brand fill-txt" href="/">Social Reach</a>

    <div id="menuNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'campaigns_list' %}">Campaigns</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link " href="{% url 'account_email' %}">Edit Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
            </li>
            {% endif %}
        </ul>
    </div>

</nav>

{% block main%}
<div class="col-md-10">

</div>
{% endblock main%}

{% endblock content%}